---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Shourya Naik</title>
  </head>
  <body class="bg-gray-50 text-gray-950">
    <main class="container mx-auto max-w-4xl px-6">
      <h1 class="mt-24 text-4xl md:text-5xl font-bold">Shourya Naik</h1>
      <p class="text-gray-500 mt-2 text-xl lg:text-2xl">
        I like to make beautiful things
      </p>
    </main>
  </body>
</html>
