---
import BlogPost from "../components/BlogPost.astro";
import Project from "../components/Project.astro";
import projects from "../lib/projects.js";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon-white.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Shourya Naik's personal website" />
    <meta name="generator" content={Astro.generator} />
    <title>shourya naik | home</title>
  </head>
  <body class="bg-neutral-950 text-neutral-50 lowercase">
    <main class="container mx-auto max-w-3xl px-6 flex flex-col">
      <h1
        data-value="Shourya Naik"
        class="mt-8 md:mt-24 text-3xl md:text-4xl font-semibold font-sans"
      >
        Shourya Naik
      </h1>

      <p class="text-neutral-400 mt-2 text-sm">
        Web Developer | Designer | Really just in it to make cool things
      </p>
      <hr class="my-2 border-neutral-600" />
      <p class="text-neutral-400 text-base">
        I'm a 21 y/o web developer from <span
          class="font-medium text-neutral-50">Ahmedabad</span
        >. I'm currently in my third year of studying Electrical and Electronics
        Engineering at BITS Pilani, Goa Campus. I'm interested in web
        development, UI/UX design, and have started to dabble with hardware
        projects with my new Raspberry Pi.
      </p>
      <div class="font-mono mt-2">
        <a
          href="https://twitter.com/sjnaik02"
          class="text-blue-400 hover:text-blue-300"
          target="_blank">[Twitter]</a
        >

        <a
          href="
          https://www.linkedin.com/in/shourya-naik-1b1b3b1b3/"
          class="text-blue-400 hover:text-blue-300"
          target="_blank">[LinkedIn]</a
        >

        <a
          href="https://github.com/sjnaik02"
          class="text-green-400 hover:text-green-300"
          target="_blank">[GitHub]</a
        >
      </div>
      <!-- write a projects section -->
      <section class="mt-4">
        <h2 class="text-2xl font-semibold text-pink-500">Projects</h2>
        <hr class="my-2 border-neutral-600" />
        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
          {
            projects.map((project) => (
              <Project
                title={project.title}
                description={project.description}
                link={project.link}
              />
            ))
          }
        </div>
        <section class="mt-4">
          <h2 class="text-2xl font-semibold text-emerald-600">Blog</h2>
          <hr class="my-2 border-neutral-600" />
          <BlogPost title="Example Blogpost 1" date="2023-08-16" link="/" />
          <BlogPost title="Example Blogpost 2" date="2023-08-16" link="/" />
          <BlogPost title="Example Blogpost 3" date="2023-08-16" link="/" />
        </section>
      </section>
    </main>

    <style is:global>
      @font-face {
        font-family: "Satoshi-Variable";
        src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
          url("../fonts/Satoshi-Variable.woff") format("woff"),
          url("../fonts/Satoshi-Variable.ttf") format("truetype");
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
      }

      @font-face {
        font-family: "Necto-Mono";
        src: url("../fonts/Necto-Mono.woff2") format("woff2"),
          url("../fonts/Necto-Mono.woff") format("woff");
        font-display: swap;
        font-style: normal;
        font-weight: 300 900;
      }
    </style>
  </body>
</html>

<script>
  const letters = "abcdefghijklmnopqrstuvwxyz";
  const heading = document.querySelector("h1");

  window.onload = () => {
    //do the random text effect on heading
    let iterations = 0;
    const interval = setInterval(() => {
      heading.innerText = heading.innerText
        .split("")
        .map((letter, index) => {
          if (letter === " ") return letter;
          if (index < iterations) {
            return heading.dataset.value[index];
          }
          return letters[Math.floor(Math.random() * 26)];
        })
        .join("");
      if (iterations > heading.dataset.value.length) clearInterval(interval);
      iterations += 1 / 3;
    }, 30);
  };
</script>
