---
import BlogPost from "../components/BlogPost.astro";
import Project from "../components/Project.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Shourya Naik's personal website" />
    <meta name="generator" content={Astro.generator} />
    <title>shourya naik</title>
  </head>
  <body class="bg-neutral-950 text-neutral-50 lowercase">
    <main class="container mx-auto max-w-3xl px-6 flex flex-col">
      <h1 class="mt-8 md:mt-24 text-3xl md:text-4xl font-semibold font-sans">
        Shourya Naik<span class="animate-pulse">_</span>
      </h1>

      <p class="text-neutral-400 mt-2 text-sm">
        Web Developer | Designer | Really just in it to make cool things
      </p>
      <hr class="my-2 border-neutral-600" />
      <p class="text-neutral-400 text-base">
        I'm a 21 y/o web developer from <span
          class="font-medium text-neutral-50">Ahmedabad</span
        >. I'm currently in my third year of studying Electrical and Electronics
        Engineering at BITS Pilani, Goa Campus. I'm interested in web
        development, UI/UX design, and have started to dabble with hardware
        projects with my new Raspberry Pi.
      </p>
      <div class="font-mono mt-2">
        <a
          href="https://twitter.com/sjnaik02"
          class="text-blue-400 hover:text-blue-300"
          target="_blank">[Twitter]</a
        >

        <a
          href="
          https://www.linkedin.com/in/shourya-naik-1b1b3b1b3/"
          class="text-blue-400 hover:text-blue-300"
          target="_blank">[LinkedIn]</a
        >

        <a
          href="https://github.com/sjnaik02"
          class="text-green-400 hover:text-green-300"
          target="_blank">[GitHub]</a
        >
      </div>
      <!-- write a projects section -->
      <section class="mt-4">
        <h2 class="text-2xl font-semibold text-pink-500">Projects</h2>
        <hr class="my-2 border-neutral-600" />
        <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
          <Project
            title="Example Project 1"
            link="/"
            description="Description of example project of a moderate length to explain but not overexplain the point"
          />
          <Project
            title="Example Project 2"
            link="/"
            description="Description of example project of a moderate length to explain but not overexplain the point"
          />
          <Project
            title="Example Project 3"
            link="/"
            description="Description of example project of a moderate length to explain but not overexplain the point"
          />
        </div>
      </section>
      <section class="mt-4">
        <h2 class="text-2xl font-semibold text-emerald-600">Blog</h2>
        <hr class="my-2 border-neutral-600" />
        <BlogPost title="Example Blogpost 1" date="2023-08-16" link="/" />
        <BlogPost title="Example Blogpost 2" date="2023-08-16" link="/" />
        <BlogPost title="Example Blogpost 3" date="2023-08-16" link="/" />
      </section>
    </main>
  </body>

  <style is:global>
    @font-face {
      font-family: "Satoshi-Variable";
      src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
        url("../fonts/Satoshi-Variable.woff") format("woff"),
        url("../fonts/Satoshi-Variable.ttf") format("truetype");
      font-weight: 300 900;
      font-display: swap;
      font-style: normal;
    }

    @font-face {
      font-family: "Necto-Mono";
      src: url("../fonts/Necto-Mono.woff2") format("woff2"),
        url("../fonts/Necto-Mono.woff") format("woff");
      font-display: swap;
      font-style: normal;
      font-weight: 300 900;
    }
  </style>
</html>
