---
const { title, description, link } = Astro.props;
import { Icon } from "astro-icon";
---

<div
  class="border-pink-600 border rounded-md px-2 py-1 transition-all duration-200 ease-in-out group"
>
  <a href={link} target="_blank">
    <h3
      class="text-base font-semibold underline underline-offset-4 text-neutral-300 group-hover:text-pink-400"
    >
      {title}
      <Icon name="lucide:external-link" class="inline-block h-4 w-4" />
    </h3>
  </a>
  <p class="text-neutral-400 text-sm hyphens-auto mt-1">{description}</p>
</div>
