---
import type { TimelineItem } from "../types/timeline";
import ProjectCard from "./ProjectCard.astro";

interface Props {
  items: TimelineItem[];
}

const { items } = Astro.props;
---

<div class="flex flex-col gap-8 max-w-2xl">
  {
    items.map((item, index) => (
      <div class="relative flex gap-4">
        {/* Line that connects squares */}
        {index > 0 && (
          <div class="absolute left-[7px] top-0 -translate-y-full h-[calc(100%+2rem)] border-l border-black" />
        )}
        {/* Line that continues after last square */}
        {index < items.length - 1 && (
          <div class="absolute left-[7px] top-4 h-full border-l border-black" />
        )}
        <div class="w-4 h-4 rounded-sm bg-neutral-900 flex-shrink-0 z-10" />
        <div class="flex-1">
          <div class="text-sm text-neutral-500 mb-2">{item.date}</div>
          <ProjectCard {...item} />
        </div>
      </div>
    ))
  }
</div>
