---

---

<div
  class="flex flex-col container max-w-3xl h-screen mx-auto p-4 gap-4 font-sans"
>
  <h1 class="text-4xl mt-8 font-serif">Hi, I'm Shourya Naik</h1>
  <p class="text-xl leading-relaxed text-gray-300">
    I'm a <span class="text-white font-semibold">product manager</span> and a
    <span class="text-white font-semibold">programmer</span>. I'm currently
    working with <span class="text-white font-semibold">Tangle News</span> on tech
    and growth. I'm in my final year of college at <span
      class="text-white font-semibold">BITS Goa</span
    >.
  </p>
</div>
