---
import Timeline from "./Timeline.astro";
import type { TimelineItem } from "../types/timeline";

const timelineData: TimelineItem[] = [
  {
    date: "2023 - Present",
    name: "Example Company A",
    type: "work" as const,
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    link: "/projects/example-a",
    role: "Product Manager",
    company: "Example Company A",
  },
  {
    date: "2022 - 2023",
    name: "Sample Case Study",
    type: "personal project" as const,
    description:
      "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    link: "/case-studies/sample",
    role: "Product Analyst",
  },
  {
    date: "2022 - 2023",
    name: "Demo Project",
    type: "blog" as const,
    description:
      "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
    link: "/projects/demo",
  },
];
---

<main class="bg-grid w-full px-4 overflow-y-scroll bg-fixed">
  <div
    class="flex flex-col container max-w-3xl h-screen mx-auto gap-4 font-sans"
  >
    <h1 class="text-4xl mt-8 font-serif">Hi, I'm Shourya Naik</h1>
    <p class="text-xl leading-relaxed text-neutral-600">
      I'm a <span class="text-neutral-900 font-medium">product manager</span> and
      a <span class="text-neutral-900 font-medium">programmer</span>. I'm
      currently working with <span class="text-neutral-900 font-medium"
        >Tangle News</span
      > on tech and growth. I'm in my final year of college at <span
        class="text-neutral-900 font-medium">BITS Goa</span
      >.
    </p>
    <section class="flex flex-col gap-4 mt-8">
      <h2 class="text-3xl font-serif">My Work and Experience</h2>
      <Timeline items={timelineData} />
    </section>
  </div>
</main>
